body {
	padding-top: 40px;
	padding-bottom: 40px;
}

#footer {
	padding-top: 50px;
}

#footer div {
	font-size: 11px;
}

#hero-container {
	padding-top: 20px;
}

#pic {
	text-align: center;
}

#error {
	display: none;
}

#tabRow button {
	margin-bottom: 10px;
}

.tagButton {
	display: inline-block;
	width: 200px;
	height: 170px;
}

body > .navbar {
	font-size: 13px;
}

body > .navbar .brand {
	padding-right: 0;
	padding-left: 0;
	margin-left: 20px;
	float: right;
	font-weight: bold;
	color: #000;
	text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
	-webkit-transition: all .2s linear;
	   -moz-transition: all .2s linear;
		      transition: all .2s linear;
}

body > .navbar .brand:hover {
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
	color: #fff;
}

.star {
	display: block;
	float: left;
	padding: 10px 20px 10px;
	margin-left: -20px;
	font-size: 20px;
	font-weight: 200;
	color: #777777;
	/*text-shadow: 0 1px 0 #ffffff;*/
}

.star:hover {
	text-decoration: none;
	color: #fff;
}

.hero-unit {
	background-color: #39a5d3;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0086cc), to(#01589a));
	background-image: -webkit-linear-gradient(top, #0086cc, #01589a);
	background-image:    -moz-linear-gradient(top, #0086cc, #01589a);
	background-image:     -ms-linear-gradient(top, #0086cc, #01589a);
	background-image:      -o-linear-gradient(top, #0086cc, #01589a);
}

.hero-unit h1 {
	color: #fff;
	text-shadow: 0px 1px 0px #999;
}

.hero-unit p {
	color: #fff;
	text-shadow: 0 1px 0 #999;
}

.jumbotron {
	position: relative;
	padding: 40px 0;
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
	background: #020031; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #020031 0%, #6d3353 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#020031), color-stop(100%,#6d3353)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* IE10+ */
	background: linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020031', endColorstr='#6d3353',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	-webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
	-moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
	box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}

.taglist {
	padding: 15px 0;
	text-align: center;
	background-color: #f5f5f5;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #ddd;
}

.navbar form {
	padding: 5px 0 0 5px;
	margin: 0;
}
