body {
	padding-top: 40px;
	padding-bottom: 40px;
}

footer {
	padding-top: 50px;
}

#hero-container {
	padding-top: 20px;
}

#pic {
	text-align: center;
}

#error {
	display: none;
}

.tagButton {
	display: inline-block;
	width: 200px;
	height: 170px;
}
